@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Nunito", sans-serif;
}

:root {
  --clr-50: #f4f4f4;
  --clr-100: #be68be;
  --clr-200: #a65ba6;
  --clr-300: #8e4e8e;
  --clr-400: #774177;
  --clr-500: #5f345f;
  --clr-600: #472747;

  --fs-small: 0.5rem;
  --fs-normal: 1rem;
  --fs-large: 2rem;
  --fs-extralarge: 5rem;

  --br-small: 0.5rem;
  --br-normal: 1rem;
  --br-large: 2rem;

  --p-extrasmall: 0.5rem;
  --p-small: 1rem;
  --p-normal: 2rem;
  --p-large: 4rem;
  --p-extralarge: 7rem;

  --m-extrasmall: 0.5rem;
  --m-small: 1rem;
  --m-normal: 2rem;
  --m-large: 4rem;
  --m-extralarge: 7rem;

  --lh-small: 0.5rem;
  --lh-normal: 1rem;
  --lh-large: 2rem;
  --lh-extralarge: 4rem;

  --gap-normal: 1rem;
}

/* HTML */
html {
  scroll-behavior: smooth;
}

/* Body */
body {
  background-image: url(../images/body-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  overflow-x: hidden;
  overflow-y: auto;
}

/* Header */
.head-container {
  width: auto;
  height: max-content;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: var(--p-large);
  background-color: var(--clr-500);
  border-radius: 0 0 0 var(--br-large);

  .navigation-container {
    width: 70%;
    padding-inline: var(--p-large);
    padding-block: var(--p-extrasmall);
    justify-self: center;
    position: fixed;
    top: 0;
    left: 50%;
    translate: -50% 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: var(--m-small);
    border-radius: var(--br-large);
    border: 2px solid var(--clr-50);
    background-color: var(--clr-500);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

    .brand-link {
      position: relative;
      display: block;
      &:hover,
      &:focus-visible {
        &::after {
          content: "";
          position: absolute;
          width: 2rem;
          height: calc(var(--p-extrasmall) / 2);
          background-color: var(--clr-50);
          bottom: calc(var(--p-extrasmall) * -1 - 2px);
          right: 50%;
          translate: 50% 0;
          border-radius: var(--br-normal) var(--br-normal) 0 0;
          border-top: 2px solid var(--clr-50);
          border-inline: 2px solid var(--clr-50);
        }
      }
      .brand {
        color: var(--clr-50);
        font-weight: bolder;
        font-size: var(--fs-normal);
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
      }
    }

    .list-container {
      display: flex;
      gap: var(--gap-normal);
      .list-items {
        display: block;
        .items-link {
          color: var(--clr-50);
          font-size: var(--fs-normal);
          font-weight: lighter;
          position: relative;
          display: block;
          text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
          &:hover,
          &:focus-visible {
            &::after {
              content: "";
              position: absolute;
              width: 2rem;
              height: calc(var(--p-extrasmall) / 2);
              background-color: var(--clr-50);
              bottom: calc(var(--p-extrasmall) * -1 - 2px);
              right: 50%;
              translate: 50% 0;
              border-radius: var(--br-normal) var(--br-normal) 0 0;
              border-top: 2px solid var(--clr-50);
              border-inline: 2px solid var(--clr-50);
            }
          }
        }
      }
    }
  }

  .head-content {
    padding-inline: var(--p-extralarge);
    padding-block: var(--p-large);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: var(--gap-normal);
    align-items: center;

    .text {
      .title {
        font-size: var(--fs-extralarge);
        color: var(--clr-50);
        font-weight: bolder;
        line-height: var(--lh-extralarge);
        text-shadow: 1px 1px 3px var(--clr-600);
      }
      .desc {
        font-size: var(--fs-normal);
        color: var(--clr-100);
        font-weight: lighter;
        margin-block: var(--m-normal);
      }
      .head-content-btn {
        padding-inline: var(--p-normal);
        padding-block: var(--p-extrasmall);
        text-align: center;
        border-radius: var(--br-normal);
        background-color: var(--clr-300);
        color: var(--clr-50);
        font-size: var(--fs-normal);
        cursor: pointer;
        transition-timing-function: ease-in-out;
        transition-delay: 20ms;
        box-shadow: 0px 0px 2px 1px var(--clr-600);
        -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
        -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

        &:hover,
        &:focus-visible {
          box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        }
      }
    }

    .head-img {
      justify-self: center;
      width: 50%;
      aspect-ratio: 1/1;
      background-image: url(../images/Logo-new.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      overflow: hidden;
    }
  }

  .head-button-container {
    background-image: url(../images/body-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--br-large) 0 0 0;
    padding: var(--p-small) var(--p-small) 0 var(--p-small);
    justify-self: end;
    position: relative;

    &::after,
    &::before {
      content: " ";
      width: 2rem;
      height: 2rem;
      background-color: var(--clr-500);
      border-radius: 0 0 90% 0;
      z-index: 1;
    }

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      translate: 0 -100%;
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      translate: -100% 0;
    }

    .head-btn {
      padding-inline: var(--p-large);
      padding-block: var(--br-small);
      border-radius: var(--br-large);
      color: var(--clr-600);
      border: 3px solid var(--clr-600);
      font-size: var(--fs-large);
      cursor: pointer;
      background: transparent;
      position: relative;

      &:hover,
      &:focus-visible {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
      }

      &::after,
      &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        background-image: url(../images/body-bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      &::after {
        position: absolute;
        bottom: -3px;
        right: calc(100% + 2.5px + var(--p-small));
      }

      &::before {
        position: absolute;
        right: calc(var(--p-small) * -1 - 3px);
        bottom: calc(100% + 2.5px + var(--p-small));
      }
    }
  }
}

/* About */
.about-container {
  scroll-margin-top: var(--m-large);
  width: auto;
  height: max-content;
  margin-top: var(--m-large);
  margin-inline: var(--m-large);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--gap-normal);

  .about-image-container {
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../images/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: var(--br-large);
    overflow: hidden;
  }

  .text-container {
    width: 100%;
    aspect-ratio: 1/1;
    display: grid;
    gap: var(--gap-normal);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      "desc"
      "desc"
      "btn";

    .desc {
      width: 100%;
      height: 100%;
      grid-area: desc;
      padding: var(--p-large);
      border: 2px solid var(--clr-600);
      border-radius: var(--br-large);
      display: flex;
      flex-direction: column;

      .subtitle-about {
        height: min-content;
        font-size: var(--fs-normal);
        color: var(--clr-600);
      }
      .title-about {
        height: min-content;
        font-size: var(--fs-large);
        color: var(--clr-600);
      }
      .desc-text {
        height: min-content;
        font-size: var(--fs-normal);
        color: var(--clr-600);
        overflow-y: auto;
      }
    }
    .about-btn {
      width: 100%;
      height: 100%;
      grid-area: btn;
      border: 2px solid var(--clr-600);
      border-radius: var(--br-large);
      display: flex;
      gap: var(--gap-normal);
      justify-content: center;
      align-items: center;
      background: transparent;
      cursor: pointer;
      font-size: var(--fs-large);
      color: var(--clr-600);
      padding: var(--p-large);

      &:hover,
      &:focus-visible {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
      }
    }
  }
}

/* Snapshots */
.snapshots-container {
  scroll-margin-top: var(--m-large);
  width: auto;
  height: max-content;
  margin-top: var(--m-large);
  .text-container {
    margin-inline: var(--m-large);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .subtitle-snapshots {
      color: var(--clr-600);
      font-size: var(--fs-normal);
      text-align: center;
    }
    .title-snapshots {
      color: var(--clr-600);
      font-size: var(--fs-large);
      text-align: center;
    }
  }
  .snapshots-content {
    margin-top: var(--m-normal);
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    gap: var(--gap-normal);
    .snapshots-content-1 {
      width: 100%;
      height: 100%;
      background-color: var(--clr-500);
      border-radius: 0 var(--br-large) var(--br-large) 0;
    }
    .snapshots-content-2 {
      width: 100%;
      aspect-ratio: 1/1.5;
      background-color: var(--clr-500);
      border-radius: var(--br-large);
    }
    .snapshots-content-3 {
      width: 100%;
      height: 100%;
      background-color: var(--clr-500);
    }
  }
}

/* Banner */
.banner-container {
  scroll-margin-top: var(--m-large);
  width: 100%;
  aspect-ratio: 1/0.1;
  margin-top: var(--m-large);
  padding-inline: var(--p-normal);
  backdrop-filter: blur(4px);
  display: flex;
  gap: var(--gap-normal);
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.55);
  .banner-title {
    font-size: var(--fs-large);
    color: var(--clr-600);
    .icon {
      backdrop-filter: blur(3rem);
      padding-inline: var(--p-small);
      border-radius: var(--br-large);
      border: 2px solid var(--clr-200);
      box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
      -webkit-box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
      -moz-box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
    }
    .banner-important {
      color: var(--clr-100);
    }
  }
  .banner-btn {
    & i {
      padding: var(--p-small);
      border-radius: var(--br-large);
      border: 2px solid var(--clr-600);
      font-size: var(--fs-large);
      color: var(--clr-600);
      cursor: pointer;
    }
    &:hover,
    &:focus-visible {
      & i {
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
      }
    }
  }
}

/* Features */
.features-container {
  scroll-margin-top: var(--m-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--m-large);
  padding-inline: var(--p-extralarge);
  .subtitle-features {
    font-size: var(--fs-normal);
    color: var(--clr-600);
  }
  .title-features {
    font-size: var(--fs-large);
    color: var(--clr-600);
  }
  .line-features {
    width: 50%;
    height: 0.3rem;
    background-color: var(--clr-500);
    border-radius: 100%;
    margin-block: var(--m-small);
  }
  .menu-features-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    gap: var(--gap-normal);
    .menu-features-items {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      cursor: pointer;
      padding-inline: var(--p-small);
      padding-block: var(--p-extrasmall);
      border-radius: var(--br-large);
      border: 2px solid transparent;
      .items-features-btn {
        font-size: var(--fs-normal);
        color: var(--clr-600);
      }
      &:hover,
      &:focus-within,
      &.features-active {
        border-color: var(--clr-200);
        box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
        -webkit-box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
        -moz-box-shadow: 0px 0px 89px 124px rgba(142, 78, 142, 0.39) inset;
      }
    }
  }
  .features-items-container {
    width: 100%;
    height: auto;
    margin-top: var(--m-normal);
    .features {
      gap: var(--gap-normal);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
      .features-items {
        padding: var(--p-small);
        backdrop-filter: blur(2px);
        border-radius: var(--br-normal);
        border: 2px solid var(--clr-300);
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5);
        .items-features-title {
          color: var(--clr-600);
          font-size: var(--fs-normal);
          margin-bottom: var(--m-extrasmall);
        }
        &:hover,
        &:focus-visible {
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
        }
        .items-features-desc {
          color: var(--clr-600);
          font-size: var(--fs-normal);
        }
      }
      &:not(.item-active) {
        display: none;
      }
    }
  }
}

/* FAQ */
.faq-container {
  scroll-margin-top: var(--m-large);
  width: auto;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: var(--m-large);
  margin-inline: var(--m-normal);
  padding-block: var(--p-normal);
  padding-inline: var(--p-extralarge);
  background-color: var(--clr-400);
  border-radius: var(--br-large);

  .faq-subtitle {
    color: var(--clr-100);
    font-size: var(--fs-normal);
  }
  .faq-title {
    color: var(--clr-50);
    font-size: var(--fs-large);
  }
  .faq-popular-question {
    margin-block: var(--m-normal);
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-normal);
    .question {
      padding-inline: var(--p-normal);
      padding-block: var(--p-extrasmall);
      border-radius: var(--br-normal);
      border: 2px solid var(--clr-50);
      position: relative;
      cursor: pointer;
      .faq-question-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--clr-50);
        font-size: var(--fs-normal);
      }
      .faq-question-desc {
        color: var(--clr-100);
        font-size: var(--fs-normal);
        display: none;
      }
      &:hover,
      &:focus-visible {
        background-color: var(--clr-300);
      }
      &:is(.question-active) {
        .faq-question-title {
          .faq-question-icon {
            transform: rotate(45deg);
          }
        }
        .faq-question-desc {
          display: block;
        }
      }
    }
  }
  .faq-title-2 {
    color: var(--clr-50);
    font-size: var(--fs-normal);
  }
  .faq-desc {
    color: var(--clr-100);
    font-size: var(--fs-normal);
  }
  .faq-contact-btn {
    margin-top: var(--m-normal);
    padding-inline: var(--p-normal);
    padding-block: var(--p-extrasmall);
    text-align: center;
    border-radius: var(--br-normal);
    background-color: var(--clr-300);
    color: var(--clr-50);
    font-size: var(--fs-normal);
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-delay: 20ms;
    box-shadow: 0px 0px 2px 1px var(--clr-600);
    -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
    -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

    &:hover,
    &:focus-visible {
      box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
      -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
      -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
    }
  }
}

/* Testimonials */
.testimonials-container {
  width: 100%;
  height: auto;
  margin-top: var(--m-large);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  .subtitle-testimonials {
    color: var(--clr-600);
    font-size: var(--fs-normal);
    padding-inline: var(--p-extralarge);
  }
  .title-testimonials {
    color: var(--clr-600);
    font-size: var(--fs-large);
    padding-inline: var(--p-extralarge);
  }
  .commands-testimonial-container {
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: 20rem;
    grid-auto-flow: column;
    grid-auto-columns: 20rem;
    overflow-x: auto;
    padding: var(--p-small);
    gap: var(--gap-normal);
    margin-top: var(--m-normal);
    .command-items {
      height: max-content;
      padding: var(--p-small);
      backdrop-filter: blur(5px);
      border-radius: var(--br-normal);
      box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
      .stars-testimonials {
        font-size: var(--fs-normal);
      }
      .cmd-review {
        max-height: 10rem;
        overflow-y: auto;
        color: var(--clr-400);
        font-size: var(--fs-normal);
        margin-block: var(--m-small);
      }
      .name-people {
        color: var(--clr-600);
        font-size: var(--fs-normal);
      }
      .people-desc {
        color: var(--clr-400);
        font-size: var(--fs-normal);
      }
    }
  }
}

/* Send testimonial */
.send-testimonial-container {
  margin-top: var(--m-large);
  border-radius: var(--br-large);
  padding: var(--p-normal);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  background-color: var(--clr-500);
  .subtitle-send-testimonial {
    color: var(--clr-100);
    font-size: var(--fs-normal);
  }
  .title-send-testimonial {
    color: var(--clr-50);
    font-size: var(--fs-large);
  }
  .form-send-testimonial-container {
    width: 100%;
    height: auto;
    margin-top: var(--m-normal);
    display: grid;
    gap: var(--gap-normal);
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 0.5fr repeat(2, 1fr) 0.5fr;
    grid-template-areas: "radio radio" "msg name" "msg desc" "btn btn";
    .radio-ratings-container {
      grid-area: radio;
      width: 100%;
      display: flex;
      gap: var(--gap-normal);
      justify-content: start;
      align-items: center;
      .star-input-label {
        color: var(--clr-50);
        font-size: var(--fs-normal);
        font-weight: bold;
      }
      .star-input {
        height: 100%;
        aspect-ratio: 1/1;
        position: relative;
        cursor: pointer;
        &:hover,
        &:focus-visible {
          &::before {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          }
        }
        &::before,
        &::after {
          content: "";
          position: absolute;
        }
        &::before {
          width: 100%;
          height: 100%;
          top: 0;
          right: 0;
          background-color: var(--clr-50);
          border-radius: var(--br-small);
        }
        &::after {
          width: 60%;
          height: 60%;
          top: 50%;
          right: 50%;
          translate: 50% -50%;
          background-color: var(--clr-500);
          border-radius: var(--br-small);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75) inset;
          opacity: 0;
        }
        &:checked {
          &::after {
            opacity: 1;
          }
        }
      }
    }
    .name-reviewer {
      grid-area: name;
      width: 100%;
      display: flex;
      flex-direction: column;
      .name-label {
        color: var(--clr-50);
        font-size: var(--fs-normal);
        font-weight: bold;
        padding-left: var(--p-small);
        cursor: pointer;
      }
      .name-input {
        width: 100%;
        aspect-ratio: 1/0.15;
        padding-inline: var(--p-small);
        border-radius: var(--br-normal);
        background-color: var(--clr-50);
        color: var(--clr-600);
        font-size: var(--fs-normal);
        transition-timing-function: ease-in-out;
        transition-delay: 20ms;
        box-shadow: 0px 0px 2px 1px var(--clr-600);
        -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
        -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

        &:hover,
        &:focus-visible {
          box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        }
      }
    }
    .desc-reviewer {
      grid-area: desc;
      width: 100%;
      display: flex;
      flex-direction: column;
      .desc-label {
        color: var(--clr-50);
        font-size: var(--fs-normal);
        font-weight: bold;
        padding-left: var(--p-small);
        cursor: pointer;
      }
      .desc-input {
        width: 100%;
        aspect-ratio: 1/0.15;
        padding-inline: var(--p-small);
        border-radius: var(--br-normal);
        background-color: var(--clr-50);
        color: var(--clr-600);
        font-size: var(--fs-normal);
        transition-timing-function: ease-in-out;
        transition-delay: 20ms;
        box-shadow: 0px 0px 2px 1px var(--clr-600);
        -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
        -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

        &:hover,
        &:focus-visible {
          box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        }
      }
    }
    .review {
      grid-area: msg;
      width: 100%;
      display: flex;
      flex-direction: column;
      .yourReview {
        color: var(--clr-50);
        font-size: var(--fs-normal);
        font-weight: bold;
        padding-left: var(--p-small);
      }
      .review-input {
        width: 100%;
        height: 100%;
        padding: var(--p-small);
        border-radius: var(--br-normal);
        background-color: var(--clr-50);
        color: var(--clr-600);
        font-size: var(--fs-normal);
        transition-timing-function: ease-in-out;
        transition-delay: 20ms;
        box-shadow: 0px 0px 2px 1px var(--clr-600);
        -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
        -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

        &:hover,
        &:focus-visible {
          box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
          -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        }
      }
    }
    .send-review-btn {
      grid-area: btn;
      width: 100%;
      height: 100%;
      border-radius: var(--br-normal);
      background-color: var(--clr-300);
      color: var(--clr-50);
      font-size: var(--fs-normal);
      cursor: pointer;
      transition-timing-function: ease-in-out;
      transition-delay: 20ms;
      box-shadow: 0px 0px 2px 1px var(--clr-600);
      -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600);
      -moz-box-shadow: 0px 0px 2px 1px var(--clr-600);

      &:hover,
      &:focus-visible {
        box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        -webkit-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
        -moz-box-shadow: 0px 0px 2px 1px var(--clr-600) inset;
      }
    }
  }
}

/* Banner2 */
.banner2-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: var(--m-large);
  margin-inline: var(--m-extralarge);
  gap: var(--gap-normal);
  .text-banner2-one {
    width: 100%;
    aspect-ratio: 1/1;
    color: var(--clr-600);
    font-size: var(--fs-extralarge);
    place-content: center;
    text-align: center;
  }
  .text-banner2-two {
    width: 100%;
    aspect-ratio: 1/1;
    color: var(--clr-50);
    font-size: var(--fs-extralarge);
    place-content: center;
    text-align: center;
    border-radius: 50%;
    background-color: var(--clr-600);
  }
}
